<!DOCTYPE html>
<html>
   <head>
       <!--Import materialize.css-->
       <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='stylesheets/bootstrap.css') }}" />
       <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
       <script type="text/javascript" src="{{ url_for('static', filename='js/openIssueList.js') }}"></script>
    
    
    
    
    
    
    </script>




       <meta name="viewport" content="width=device-width, initial-scale=1">
    
      <title>Av Hub - Issue Tracker</title>
   </head>	
   
   
   
    <body style="background-color:  #0e1010;">
   
   
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">AV Hub</a>
            </div>
                <ul class="nav navbar-nav">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/issue-tracker">Todo List</a></li>
                    <li class="active"><a href="/track-hub">AV I Track Build Hub</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-sm-2">

            </div>
            <div class="col-sm-4">
                <div class="card" style="background-color: white; border:10px solid white; border-radius: 10px;">
                
                    <div class="card-body">
                        <img src="/static/annexpark.png" class="img-thumbnail" style="width: 100%; " alt="...">
                        <h5 class="card-title">Annex Picture</h5>
                        <p class="card-text">Online Version of overhead annex view</p>
                        <a href="/annex-image" class="btn btn-primary">Go to Annex Picture</a>
                    </div>
                </div>
            </div>
            


            <div class="col-sm-4">
                <div class="card" style="background-color: white; border:10px solid white; border-radius: 10px;">
                
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">

            </div>

        </div>
    </div>







    </div>




    </body>
</html>
        
    