<!DOCTYPE html>
<html>
   <head>
       <!--Import materialize.css-->
       <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='stylesheets/bootstrap.css') }}" />
       <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
       <script type="text/javascript" src="{{ url_for('static', filename='js/openIssueList.js') }}"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    
    
    
    
    
    </script>




       <meta name="viewport" content="width=device-width, initial-scale=1">
    
      <title>Av Hub - Issue Tracker</title>
   </head>	
   
   
   
    <body style="background-color:  #0e1010;">
   
   
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">AV Hub</a>
            </div>
                <ul class="nav navbar-nav">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/issue-tracker">Issue Tracker</a></li>
                    
                    <li><a href="/track-hub">AV I Track Build Hub</a></li>
                    <li class="active"><a href="/issue-tracker">Chat</a></li>
                    <li><a href="/print-hub">3D Printer Hub</a></li>
            </ul>
        </div>
    </nav>
    <br>
    <h1 style="color: white;">Chat room</h1>
    <hr style="color: white;">
    
    
    <div class="container">
        <div class="row">
            <div class="col-sm" style = "border:1px solid black">
                <h3 style='color: #fff;font-size: 30px;'>No messages</h3>
                <div class="message_holder" style="color: white;"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm" style = "border:1px solid black">
                <h1 style="color: white">Create message</h1>
                <form action="/chat" style="background-color: dimgray; border:15px solid dimgray" method="POST">
                    <div class="form-group">
                        <label for="Name" style="color: white;">Name   </label>
                        <input type="text" class="username" placeholder="Username">
                        
                    </div>
                    <div class="form-group">
                        <label for="Message" style="color: white;">Message</label>
                        <input type="text" class="message" placeholder="Message">
                        
                    </div>

                        <button id="submit" name="create-comment" href="{{ url_for('chat') }}" type="submit" style="color: black"; class="btn btn-primary">Send Message</button>

                </form>
            </div>
        </div>
    </div>

    <!-- chat script          connects socket to port and domain and then after user conencts and presses submit, it sets message and user to valeu and emits it back to the flask prog-->
    <script type="text/javascript">
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on( 'connect', function() {
          socket.emit( 'my event', {
            data: 'User Connected'
          } )
          var form = $( 'form' ).on( 'submit', function( e ) {
            e.preventDefault()
            let user_name = $( 'input.username' ).val()
            let user_input = $( 'input.message' ).val()
            let time = new Date($.now());
            socket.emit( 'my event', {
              user_name : user_name,
              message : user_input
            } )
            $( 'input.message' ).val( '' ).focus()
          } )
        } )
        socket.on( 'my response', function( msg ) {
          console.log( msg )
          if( typeof msg.user_name !== 'undefined' ) {
            $( 'h3' ).remove()
            $( 'div.message_holder' ).append( '<div><b style="color: #fff"><hr> USER: '+msg.user_name+' <br><br> </b> '+msg.message+'<br><br><p style ="color: #696969; font-size:80%">'+msg.ID+'</p><hr></div>' )
          }
        })
        socket.on( 'load', function( msg ) {
          console.log( msg )
          if( typeof msg.user_name !== 'undefined' ) {
            $( 'h3' ).remove()
            $( 'div.message_holder' ).append( '<div><b style="color: #fff"><hr> USER: '+msg.user_name+' <br><br> </b> '+msg.message+'<br><br><p style ="color: #696969; font-size:80%">'+msg.ID+'</p><hr></div>' )
          }
        })

      </script>
  



    </body>
   
</html>