<!DOCTYPE html>
<html>
   <head>
       <!--Import materialize.css-->
       <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='stylesheets/bootstrap.css') }}" />
       <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
       
       <meta name="viewport" content="width=device-width, initial-scale=1">
    
      <title>Av Hub - Home</title>
   </head>	
   
   
   
    <body style="background-color:  #0e1010;">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">AV Hub</a>
            </div>
                <ul class="nav navbar-nav">
                <li><a href="/issue-tracker">Issue Tracker</a></li>
                <li><a href="/track-hub">AV I Track Build Hub</a></li>
                <li><a href="/chat">Chat</a></li>
                <li><a href="/print-hub">3D Printer Hub</a></li>
                
                
            </ul>
        </div>
    </nav>
    
        <h1 style="color: white;">AV Hub Home</h1>
        <hr style="color: white;">
        <div>
        <p style="color: white">This is the homepage, not much here though. Just pick something from the menu above and stop wasting your time here.
           
        </div>   
    </body>	
</html>