<!DOCTYPE html>
<html>
   <head>
       <!--Import materialize.css-->
       <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='stylesheets/bootstrap.css') }}" />
       <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
       
       <meta name="viewport" content="width=device-width, initial-scale=1">
    
      <title>Error: not logged in</title>
   </head>	
   
   
   
    <body>
        <h1>ERROR! You are not signed in!</h1>
        <p>please sign in to continue</p>
        <a href="/login">click here to return to the login page</a>
    </body>	
</html>